.row{
    margin: 0;
    padding: 0;
}

.foto_avatar {
    width: 50px;
    height: 50px;
}

#home {
    padding-bottom: 45px;
}

#campo_trabalhos {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

#fantastica {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/galo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tempestade {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/tempestade.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#assis {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/assis.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#visita {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/visita.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#leais {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/os\ leais.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#benvinda {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/benvinda.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#commedia {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/dell\ art.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#lis {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/lisistrata.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#magico {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/magico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#abracadabra {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/abracadabra.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#dna2 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/rio\ de\ sangue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#rio_de_sangue {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/rio\ de\ sangue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contato {
    padding-top: 30px;
    padding-bottom: 30px;
}

#campo_de_trabalho {
    height: 394px;
    width: 364px;
}

.col {
    text-decoration: none;
}

h3 {
    text-align: center;
}

.texto_branco {
    color: white;
}

.ferramenta_portifolio {
    background-color: rgb(77, 76, 76);
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.ano {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    border-radius: 8px;
    width: 50px;
    height: 25px;
    display: block;
    position: absolute;
    top: 5%;
    left: 5%; 
}

.contato {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
}

.email {
    align-items: center;
}

#item_contato_e {
    color: #0364b8;
}

#item_contato_e:hover {
    background-color: #0364b8;
    color: rgb(250, 250, 250);
}

#item_contato_w {
    color: rgb(7, 141, 0);;
}

#item_contato_w:hover {
    background-color: rgb(7, 141, 0);
    color: rgb(250, 250, 250);
}

.lead {
    text-align: justify;
}

footer {
    display: flex;
}

#inst:hover {
    color: rgb(247, 13, 169)
}

#git:hover {
    color: blueviolet;
}

a {
    text-decoration: none;
}

.popup{
    position: fixed;
    top: 12%; 
    left: 100px; right:100px;
    width: 1000px;
    margin: auto;
    padding: 15px;
    border: solid 5px #212529;
    border-radius: 20px;
    background: #e9e9e9;
    display: none;
    text-align: left;
    box-shadow: 5px 5px 500px 800px rgba(1, 1, 17, 0.521);
}

.corpo_mensagem_informativo {
    text-align: justify;
}

.popup > header > a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: -98%;
}

.item > img {
    display: block;
}

@media screen and (max-width:768px) {

    header {
        display: none;
    }

    .foto_perfil {
        display: contents;
    }

    .cv a {
        margin-right: 0rem !important
    }

    #home {
        padding-bottom: 0;
    }

    #cx_home {
        padding-bottom: 0rem !important;
    }

    #sobre {
        padding-bottom: 0rem !important;

    }

	.filme_principal article div {
		display: flex;
		flex-direction: column;
	}
	
	.botao {
		margin-top: 10px;
		width: 300px;
	}

    .topo_inicial {
        margin-top: -17px;
        display: block;
        height: 30px;
        width: 30px;
        position: relative;
        right: -85%;
        margin-bottom: 16px;

    }

    .topo_inicial > .botao {
        padding-top: 0;
        font-size: 33px;
    }

    .popup {
        width: 100%;
        border: none;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 0;
        overflow: hidden;
        overflow-y: auto;
        height: 900px;
    }

    .contato {
        display: grid;
        grid-template-columns: none;
    }

    #icon-grid {
        padding-bottom: 0rem !important;
    }



}